<html >
  <head>
    <title>
      IpadServiceTester automatic Testing
    </title>
  </head>
  <body ng-app>
    <div ng-controller="personController">
    <button type="button" class="btn btn-primary">
      {{clickme}}
    </button>
  </div>
  </body>

<script src="angular.min.js"></script>
<script src="ui-bootstrap-tpls-0.11.2.min.js" ></script>
<script>
  function personController($scope) {
    $scope.clickme="John";
  }
</script>


</html>
