<html ng-app>
<body>
    <div ng-controller="datecheck">
    <h1>{{value}}</h1>
       
    <input type="date" value="2014-12-12" format="mmm-dd-yyyy"></input>    
         </div>
    
        
   
    <script src="myscript.js"></script>
    <script src="datepickctrl.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="ui-bootstrap-tpls-0.9.0.js"></script>
    </body>

</html>