<html ng-app="demoModule" >
<head>
	<link rel="stylesheet" type="text/css" href="mystyle.css">
<title> angular demo modal </title>
</head>
<body>
	<!--
<div ng-controller="DemoController" ng-cloak>
		<h1> {{ 1 + 3}} </h1>
		<h2 ng-bind-template="{{hellomsg}} {{dis}}"> </h2>
		<button class="btn" ng-click="clickme()" > hello click me</button>
<my-sample/>

<my-sample/>
</div>  -->

<div ng-controller="dialogServiceTest">
	<button class="btn btn-warning" ng-click="launchTemplate()" >launch
	</button>
</div>

	<script src="jquery-1.11.1.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"> </script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"> </script>
	<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js" type="text/javascript"></script>
  <script src="http://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
	<script src="controllerDialog.js"></script>
	<script src="controller.js"></script>
	<script src="directives.js"></script>

</body>
</html>
