<div>

	<table>
		<tr>
			<th>
				First Name
			</th>
			<th>
				last Name
			</th>
			<th>
				Gender
			</th>
			<th>
				Date Of Birth
			</th>
			<th>
				Relationship
			</th>
		</tr>

		<tr>
			<td>
				<input type="text" name="firstname" />
			</td>
			<td>
				<input type="text" name="lastname" />
			</td>
			<td>
				<select>
					<option value="Gender">Gender</option>
					<option value="Female">Female</option>
					<option value="Male">Male</option>
				 </select>
			</td>
			<td>
				<input type="text" name="dateofbirth" />
			</td>
			<td>
				<select>
					<option value="relationship">Relationship</option>
					<option value="child">Child</option>
					<option value="grandchild">Grandchild</option>
					<option value="father">Father</option>
					<option value="mother">Mother</option>
				</select>
			</td>

		</tr>
	</table>

</div>